
extends layout

block layout-content
    div.View
        h1.Banner #{title}
        div
            table
                tr
                    th Symbol
                    th Avl. Balance
                for wallet in data
                    tr
                        td
                            a(href="/trade/history/THB_" + wallet.sym)=wallet.sym
                        td=wallet.bal